<h1>List of Authors</h1>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of birth</th>
        </tr>
    </thead>
    <tbody>
        @for (author of authors; track author) { 
            <tr>
                <td>{{author.firstName}}</td>
                <td>{{author.lastName}}</td>
                <td>{{author.dateOfBirth}}</td>
            </tr>
        }
    </tbody>
</table>

<h1>List of Users</h1>
<table>
    <thead>
        <tr>
            <th>Alias</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @for (user of users; track user) { 
            <tr>
                <td>{{user.alias}}</td>
                <td>{{user.email}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user?.role?.name}}</td>
            </tr>
        }
    </tbody>
</table>
